.chtly__hr {
  border-bottom: 1px solid #ccc;
}

.chtly__commentContainer {
  font-family: inherit, sans-serif;
  margin-bottom: 20px;
}

.chtly__commentsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;

  margin-top: 10px;
}

.chtly__comment {
  display: flex;
  flex-direction: column;
  padding: .2rem .5rem;
  background: #ddd;
  border-radius: .5rem;
}

.chtly__comment .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.chtly__comment .top .avatar {
  color: #444;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.chtly__comment .top .avatar img {
  border-radius: 9999px;
  border: 2px solid #ccc;
}

.chtly__comment .top .timedate {
  color: #888;
  font-size: .9rem;
}

.chtly__comment .comment {
  display: flex;
  color: #111;
  font-size: 18px;
  background: #ccc;
  padding: .4rem;
  white-space: break-spaces;
  border-radius: .5rem;
  margin: .15rem 0;
  align-items: center;
}

.chtly__commentContainer textarea {
  width: -webkit-fill-available;
  width: -moz-available;
  resize: none;
  height: 100px;
  font-size: 18px;
  padding: .5rem;

  color: #000;
  background-color: #fff;
  outline: transparent;
  border: 1px solid #aaa;
  border-radius: .5rem;
}

.chtly__commentContainer textarea:focus {
  outline: transparent;
  border: 1px solid #aaa;
}

.chtly__commentContainer .chtly__toolbar {
  margin-top: 20px;
}

.chtly__commentContainer .chtly__toolbar .chtly__charCounter {
  float: right;
  color: #fff;
  background: #ccc;
  padding: .25rem;
  border-radius: .35rem;
  transition: color .5s ease-in-out, background .5s ease-in-out;
  position: static;
  right: 0;
  translate: -5px -57px;

  opacity: 0.75;
}

.chtly__commentContainer .chtly__toolbar .chtly__charCounter.warn {
  color: #e94c4c;
  background: #e99f9f;
}

.chtly__commentContainer .chtly__toolbar .chtly__postButton {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  cursor: pointer;

  scale: 0.95;

  padding: .65rem 2rem;
  border-radius: .5rem;
  margin: 0;

  color: white;
  background: #ce86ec;
  border: 2px solid #d276f3;

  font-size: 18px;

  transition: scale .2s cubic-bezier(0.47, 0, 0.745, 0.715);

  display: initial;
}

.chtly__commentContainer .chtly__toolbar .chtly__postButton:hover {
  scale: 1;
}

.chtly__commentContainer .chtly__toolbar .chtly__postButton:active {
  scale: 0.85;
}

@media (prefers-color-scheme: dark) {

  .chtly__hr {
    border-bottom: 1px solid #333;
  }
  
  .chtly__comment {
    background: #343434;
  }

  .chtly__comment .top .avatar {
    color: #f0f0f0;
  }

  .chtly__comment .top .avatar img {
    border: 2px solid #777;
  }
  
  .chtly__comment .comment {
    color: #bdbdbd;
    background: #444;
  }

  .chtly__commentContainer textarea {
    color: #ddd;
    background-color: #181818;
    border: 1px solid #343434;
    border-radius: .5rem;
  }

  .chtly__commentContainer .chtly__toolbar .chtly__charCounter {
    color: #777;
    background: #444;
  }

  .chtly__commentContainer .chtly__toolbar .chtly__charCounter.warn {
    color: #e94343;
  }

  .chtly__commentContainer .chtly__toolbar .chtly__postButton {
    color: #ddd;
    background: #8c2bb5;
    border-color: #bf53ee;
  }

}
